<!--
<h1>Connect to peer pool!
  <form method=post action=@{ConnectR} enctype=#{formEnctype} class="form-horizontal" id="slick-login">
    ^{formWidget} 
    <input type="submit" value="Connect" class="btn btn-primary submit-style">
-->
<div id="title">P2P Media</div>

  <form method=post action=@{ConnectR} id="slick-login">
    <input type="text" name="host" class="placeholder" placeholder="host (exp. 127.0.0.1)" required value>
    <input type="text" name="p2pport" class="placeholder" placeholder="p2p port (exp. 9001)" required value>
    <input type="text" name="handlerport" class="placeholder" placeholder="handler port (exp. 9008)" required value>
    <input type="text" name="seed" class="placeholder" placeholder="seed (exp. 127.0.0.1:9002)" required value>
    <input type="submit" value="Connect">

<!--
<div class="clear">
-->
